.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid rgb(130, 209, 233);
  margin-bottom: 0.5%;
  padding: 10px;
}

.text {
  font-size: 1.25rem;
}